#cupCanvas {
    height: 80vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
    position: absolute;
    top: 60px;
    left: 0;
}

.cups {
    background-color: rgba(0, 255, 0, 0.1);
    position: relative;
    height: 80vh;
}

.theImg {
    width: 90px;
    height: 80vh;
}